/Simple_Inventory_Management_System_Tests/bin
/Simple_Inventory_Management_System_Tests/obj
.idea/
/Simple_Inventory_Management_System.sln.DotSettings.user
/Simple_Inventory_Management_System/bin/
/Simple_Inventory_Management_System/obj/
/TestProject1/
